.navbar-brand {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

nav{
    background-color: #ffffff;
}
.container {
    background-color: #ffffff;
}
.container-fluid {
    background-color: #4aaaa5;
}
h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:  #4aaaa5;
    font-weight: bolder;
}
 
p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.nav-link {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

footer {
    background-color: #666666;
    color: white;
    font-size: 10px;
}
h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
}
body {
    background-image: url(../images/swirl_pattern.png);
    font-weight: bolder;
}

.btn-default {
    background-color: #4aaaa5;
}

.bottom {
    background-color: #4aaaa5;
}

.card {
    background-color: #ffffff;
}

h5 {
    background-color: #4aaaa5;
}
.centered {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
  }