.navbar-brand {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

nav{
    background-color: #ffffff;
}
.container {
    background-color: #ffffff;
}

h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:  #4aaaa5;
    font-weight: bolder;
}
 
p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.nav-link {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

footer {
    background-color: #666666;
    color: white;
}
h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
}
body {
    background-image: url(../images/swirl_pattern.png);
    font-weight: bolder;
}

button {
    background-color: #4aaaa5;
}

.bottom {
    background-color: #4aaaa5;
}

.card {
    background-color: #ffffff;
}

h5 {
    background-color: #4aaaa5;
}