html {
  width: 100%;
}
body {
  background-color: rgb(98, 165, 182);
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
  font-family: helvetica;
}
div {
  align-items: center;
}
.new-text{
  text-align: left;
  color: white;
  position: static;
  font-weight: bolder;
}
.center-up {
  color: black;
  font-size: 9px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-middle {
  color: white;
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-border {
  color: white;
  outline: 1.5px solid white;
  font-size: 9px;
  font-weight: bold;
  max-width: max-content;
  padding: 2px;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
}
