body {
    background-image: url(../images/rockywall.png);
}
header {
    height: 150px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 3px;
    background-image: url(../images/collegelogos.jpeg);
    border-bottom: black;
}
h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
    color: black;
    text-decoration: underline black;
}
h3 {
    text-align: center; 
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: black;
    border: white;
    background-color: white;
    width: 30%;
    margin-left: 380px;
   
}
p {
    border: 2px solid black;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    color: white;
    margin: 10px auto;
    text-align: center;
    width: 20%;
    padding: 10px;
    background-color: black;
}
.win {
    border: 2px solid black;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    margin: 10px auto;
    text-align: center;
    width: 10%;
    padding: 5px;
    background-color: white;
}
h4 {
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    margin: 7px auto;
    text-align: center;
    width: 40%;
    padding: 10px;
    text-decoration: underline black;
}
.currentGuesses {
    border: 2px solid black;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    margin: 10px auto;
    text-align: center;
    width: 40%;
    padding: 10px;
    background-color: white;
}
.remainingGuess {
    border: 2px solid black;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    margin: 10px auto;
    text-align: center;
    width: 10%;
    padding: 5px;
    background-color: white;
}
.correctGuesses {
    border: 2px solid black;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    margin: 10px auto;
    text-align: center;
    width: 20%;
    padding: 10px;
    background-color: white;
}
.alreadyGuessed {
    border: 2px solid black;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    margin: 10px auto;
    text-align: center;
    width: 20%;
    padding: 10px;
    background-color: white;
}