.topnav {
    overflow: hidden;
    background-color: grey;
    text-align: center;
    font-size: 12px;
}
.box1{
    float:left;
    position: relative;
    width: 50%;
    background-color: blue;
    margin-top: 30px;
    height: 60%;
    border: none;
    font-size: 12px;
}
.box2{
    float: right;
    position: relative;
    background-color: red;
    width: 25%;
    height: 60%;
    margin-top: 30px;
    border: none;
    font-size: 12px;
} 
p {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer{
    position: fixed;    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: black;
    text-align: center;
    border: none;
    padding: 2px;
    font-size: 12px;
}

